html{
    height: 100%;
    background: linear-gradient( to top left, #28cc1a, #e4eee4, #28cc1a, #e4eee4);
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
/*
*Добавить background
*Поменять стиль поля
*Поменять стиль кнопки
*поменять стиль времени
*Сделать возможность обновить таймер без перезагрузки страницы
*Добавить ползунок, отображающий остаток времени
*/